*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7c7a9e;
}

main{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: rgb(40, 40, 65);
}

#calculo{
    color: white;
    width: 296;
    height: 60px;
    background-color: rgb(66, 66, 100);
    
    font-size: 30pt;
    text-align: end;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}

button{
    width: 70px;
    height: 70px;
    margin: 2px;
    padding: 0;

    font-size: 20pt;
    background-color: rgb(66, 66, 100);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    color: white;
}

button:hover{
    background-color: rgb(131, 131, 146);
}

.letra_vermelho{
    color: rgb(255, 56, 56);
    background-color: rgb(80, 80, 112);
}

.igual{
    background-color: rgb(255, 56, 56);
}

.igual:hover{
        background-color: rgb(252, 99, 99);
}